services:
  flask_catalog:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: gunicorn -w 16 --bind 0.0.0.0:8000 wsgi:app
    restart: always
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/annotation

  mongodb:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db
    ports:
      - "27018:27017"
    restart: always

  caddy:
    image: caddy:latest
    ports:
      - "5000:5000"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    command: caddy reverse-proxy --from http://localhost:5000 --to http://flask_catalog:8000
    restart: always
    depends_on:
      - flask_catalog

volumes:
  mongo_data:
  caddy_data:
  caddy_config:
